* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: rgb(205, 203, 203);
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOVIEuPcaUssRVS2pmgs9piNwgII2t6OAV1A&s");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) blur(3px) brightness(60%) contrast(130%);
  z-index: -1; 
  backdrop-filter: blur(10px);
}

.image-slider {
  text-align: center;
  margin: 80px;
  color: white;
  

}

.slides {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(139, 135, 135);
  border-radius: 40px;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  justify-content: center;
  position: relative;
  height: 520px;
  scrollbar-width: none; /* For Firefox */
  width: 60%;
  justify-self: center;
  text-align: center;
  margin-top: 30px;
}

.slides::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.slide {
  position: absolute;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.4s ease-in-out;
  margin-top: 20px;  
  width: 50%;
}


.slide.active {
  opacity: 1;
  transform: translateX(0);
  position: relative;
}

img {
  width: 500px;
  height: 500px;
  margin: 10px;
  scroll-snap-align: center;
}


button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(238, 238, 238);
  transition: .2s ease-in-out;

}
button:hover {
  background-color: rgb(255, 244, 244);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  
}
